.dropdown-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 1rem;
    background-color: #007A33;
    cursor: pointer;
}

.button-open {
    background-color: rgb(0, 175, 51);
}
